{% extends "header.html" %}
{% block content %}
<p> {{ error }} </p>
	<div class="row">
		<div class="wrap_header2">
			<div class="col-md-9">

				<div class="slideshow-container">
				<div class="mySlides fade">
				  <img src="static/images/vegetables.jpg" style="width:850px;height:250px;">
				</div>
				<div class="mySlides fade">
				  <img src="static/images/fruits.jpg" style="width:850px;height:250px;">
				</div>
				<div class="mySlides fade">
				  <img src="static/images/c.png" style="width:850px;height:250px;">
				</div>
			</div>
				<br>
				<div style="text-align:center">
				  <span class="dot"></span>
				  <span class="dot"></span>
				  <span class="dot"></span>
				</div>
			</div>
			<div class="col-md-3">
				<div>
					<h3 style="display: block; color: black; font-size: 2em; font-family: Montserrat-Regular;">
						All the Groceries at your door step. <br><br>
						YOU choose - WE deliver
						<br>
						<br>
						{% if not loggedIn %}
						<button type="button" onclick="document.getElementById('id01').style.display='none'"
								  class="registerbtn"><a href="/registerationForm">Register here</a></button>
						{% else %}
						<button type="button" onclick="document.getElementById('id01').style.display='none'"
							  class="registerbtn"><a href="/">View Offers</a></button>
						{% endif %}
					</h3>
				</div>
			</div>
		</div>
	</div>


<div class="row">
	<div class="col-md-12">
		<div>
			<h2 align="left" style="display: block; color: black; font-size: 2em; font-family: Montserrat-Regular;"><span> Trending Items </span> </h2>
		</div>

		<div  id="wrapper">


	<div class="product-container">

		{% for data in itemData %}
				{% for row in data %}
    <div class="product-card">

        <div class="product-image">
<!--            <span class="discount-tag">15% off</span>-->
			<a href="/productDescription?productId={{row.productid}}">
			<img src="{{ row.image }}"/>
			</a>
        </div>

        <div class="product-info">
            <p class="product-short-des">{{ row.description }} </p>
			<form action="/addToCart" method="POST" type="submit" onsubmit="return validate();">
				<select id="weightSel" class="weightSel" name="weight" size="1" required>
					{% for wps in row[-1].split(",") %}
					<option value="{{ wps.split('-')[2] }} - {{ wps.split('-')[0] }} ">{{ wps.split("-")[0] }} -  &#8377 {{ wps.split("-")[1]  }}</option>
					{% endfor %}
				</select>
				<div id="addToCart" >
				<a><p><input type="submit" value="Add to Cart"></p>  </a>
				</div>
			</form>
        </div>
    </div>
		{% endfor %}
		{% endfor %}
		<button class="pre-btn"><img src="static/images/arrow.png" alt=""></button>
		<button class="nxt-btn"><img src="static/images/arrow.png" alt=""></button>
	</div>
        </div>
		</div>
	</div>
<div class="row">
	<div class="col-md-12">
		<br>
		<h2 align="left" style="display: block; color: black; font-size: 2em; font-family: Montserrat-Regular;"><span> Recommended Items </span> </h2>
		<div  id="wrapper">
	<div class="product-container">

		{% for data in recommendedProducts %}
		{% for row in data %}
    <div class="product-card">

        <div class="product-image">
<!--            <span class="discount-tag">15% off</span>-->
			<a href="/productDescription?productId={{row.productid}}">
			<img src="{{ row.image }}"/>
			</a>
        </div>

        <div class="product-info">
            <p class="product-short-des">{{ row.description }} </p>
			<form action="/addToCart" method="POST" type="submit" onsubmit="return validate();">
				<select id="weightSel" class="weightSel" name="weight" size="1" required>
					{% for wps in row[-1].split(",") %}
					<option value="{{ wps.split('-')[2] }} - {{ wps.split('-')[0] }} ">{{ wps.split("-")[0] }} -  &#8377 {{ wps.split("-")[1]  }}</option>
					{% endfor %}
				</select>
				<div id="addToCart" >
				<a><p><input type="submit" value="Add to Cart"></p>  </a>
				</div>
			</form>
        </div>
    </div>
		{% endfor %}
		{% endfor %}
		<button class="pre-btn"><img src="static/images/arrow.png" alt=""></button>
		<button class="nxt-btn"><img src="static/images/arrow.png" alt=""></button>
	</div>
        </div>
		</div>
	</div>
{% endblock %}