{% extends "header.html"  %}
{% block content %}

<div class="row" id="display">
<div class="col-md-3">
	<div id="productName">
		<h1>{{data.product_name}}</h1>
	</div>
	<img src="{{ data.image }}"/>
</div>

	<div  class="col-md-9">



	<div id="productDescription">
		<h2>Details</h2>
		<table id="descriptionTable">
			<tr>
				<td>Name</td>
				<td>{{data.description}}</td>
			</tr>
			<tr>
				<td>Regular Price</td>
				<td>&#8377 {{data.regular_price}}</td>
			</tr>
            <tr>
				<td>Discounted Price</td>
				<td>&#8377 {{data.discounted_price}}</td>
			</tr>
			<tr>
				<td>Stock</td>
				<td>{{data.stock}}</td>
			</tr>
			<tr>
				<td>Sub Product</td>
				<td>{{data.sub_product_id}}</td>
			</tr>
		</table>
		<h2>Description</h2>
		<p>{{data['description']}}</p>
	</div>
		<div id="addToCart">
		<a href="/addToCartProduct?productId={{request.args.get('productId')}}&subProductId={{data.weight}}">Add to Cart</a>
		</div>

	</div>

</div>

<div class="row">
	<div class="col-md-12">
		<br>
		<h2 align="left" style="display: block; color: black; font-size: 2em; font-family: Montserrat-Regular;"><span> Recommended Items </span> </h2>
		<div  id="wrapper">
	<div class="product-container">

		{% for data in recommendedProducts %}
		{% for row in data %}
    <div class="product-card">

        <div class="product-image">
<!--            <span class="discount-tag">15% off</span>-->
			<a href="/productDescription?productId={{row.productid}}">
			<img src="{{ row.image }}"/>
			</a>
        </div>

        <div class="product-info">
            <p class="product-short-des">{{ row.description }} </p>
			<form action="/addToCart" method="POST" type="submit" onsubmit="return validate();">
				<select id="weightSel" class="weightSel" name="weight" size="1" required>
					{% for wps in row[-1].split(",") %}
					<option value="{{ wps.split('-')[2] }} - {{ wps.split('-')[0] }} ">{{ wps.split("-")[0] }} -  &#8377 {{ wps.split("-")[1]  }}</option>
					{% endfor %}
				</select>
				<div id="addToCart" >
				<a><p><input type="submit" value="Add to Cart"></p>  </a>
				</div>
			</form>
        </div>
    </div>
		{% endfor %}
		{% endfor %}
		<button class="pre-btn"><img src="static/images/arrow.png" alt=""></button>
		<button class="nxt-btn"><img src="static/images/arrow.png" alt=""></button>
	</div>
        </div>
		</div>
</div>


{% endblock content %}